<!DOCTYPE <!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
		<h1>About Me</h1>
        <img src="../ProfileIMG.jpg" alt="Pic of Deas">
        <h2>Timothy Deas</h2>
        <p>I launched Insights Emerge to bring User Experience & Consumer Behavior insights to light to inform decision-making and create innovations!</p>

        <p>I got my first experience creating websites and working with teams at the University of Washington (UW) over a decade ago. Since those enlightening experiences at UW, I gained enjoyable memories and skills working as an Agile Coach, Project Manager, Product Owner, and Product Manager. During my last role as a Product Manager at Expedia (where this photo was taken), I worked with Marketing Research Analysts, User Experience Researchers, Designers, Developers, UX/UI/XD you name it. I worked closely with several people in this space and was responsible for delivering products for thousands of consumers of Expedia.coms B2C and Expedia for Business B2B. Although I had many role changes, the common theme I always strived for was problem-solving and striving for an improved end-user experience. I’m so grateful to dive deeper into this passion and refine my skills further by starting a graduate program at Michigan State University in User Experience to gain ‘additional skills from UX discovery through product assessment’ per what our MSU UX public facing website describes so well.</p>
           
        <p>Before starting this program, I completed the Consumer Behavior & Marketing Strategy course at the University of Chicago where I was empowered to launch Insights Emerge! Next, I took classes at Michigan State University in the Master of Science in Marketing Research and Analytics program: Consumer Behavior Decision Making, Experimental Research Design, and Marketing Management. I've started publishing my research (e.g., primary, secondary, behavioral data) and design (website, etc.) portfolio here at Insights Emerge based on my continued education and professional experiences! I'm looking forward to seeing how this evolves! You can view my resume below. Also, don't forget to check out my portfolio under the Portfolio tab in the top right navigation bar above.</p>
	</body>
</html>